body {
  background-image: url("../img/海报(小).png");
  background-attachment: fixed;
  background-size: cover;
}

@font-face {
  font-family: "MyFont";
  src: url("../font/Pirulen-Regular.otf");
}

.welcome_title {
  text-align: center;
  color: white;
  text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000,
    0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000;
  /* background: -webkit-linear-gradient(top, red, yellow); */
  font-family: "MyFont", sans-serif;
}
.md-header,
.md-tabs {
  background-color: transparent !important;
}

ul.md-tabs__list {
  font-size: 100em; /* 调整字体大小 */
}

.md-footer,
.md-sidebar.md-sidebar--secondary {
  display: none !important;
}

